<div class="flex flex-wrap">
  <div class="flex w-full flex-col md:w-1/2">
    <!-- <div class="flex justify-center pt-12 md:-mb-24 md:justify-start md:pl-12">
      <a routerLink="/" class="border-b-primary border-b-4 pb-1 text-2xl font-bold text-primary">Elementar</a>
    </div> -->
    <div class="lg:w-[30rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <h1 class="text-left text-3xl font-bold">Sign up</h1>
      <p class="text-sm mt-3 text-neutral-500">
        Let's get started with your 30 days free trial
      </p>
      <form class="flex flex-col pt-3 md:pt-8" [formGroup]="form">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="name" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <button mat-flat-button color="primary" type="button" class="!h-12 mt-4" [disabled]="form.invalid">Sign Up</button>
      </form>
      
      <div class="pt-12 text-center">
        <p class="whitespace-nowrap text-xs">
          <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Already have an account?</span>
          <a routerLink="/auth/sign-in" class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent">Sign in</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen select-none bg-white md:block md:w-1/2 ">
    <img class="-z-1 absolute top-1/2 right-1/4 object-cover opacity-90"
         src="https://nafosted.gov.vn/logo-en.png" />
  </div>
</div>
